#!/bin/sh

PSQL_IP=127.0.0.1

if [ -e "./.env/" ]; then
    PYTHON_EXEC=./.env/bin/python
else
    echo "[\033[1;33m!\033[0m] Warning: .env not found, using system python"
    PYTHON_EXEC=python
fi

if [ -e "./firmport.config" ]; then
    ROOT_DIR=$(pwd)
elif [ -e "../firmport.config" ]; then
    ROOT_DIR=$(dirname $(pwd))
else
    echo "Error: Could not find 'firmport.config'!"
    exit 1
fi

BINARY_DIR=${ROOT_DIR}/binaries/
IMAGES_DIR=${ROOT_DIR}/images/
SCRATCH_DIR=${ROOT_DIR}/scratch/

